.root{
    -fx-background-color: #cccccc;
    -fx-border-radius: 13px;

}

.V_box{
        -fx-border-radius: 13px;

}

.side_anchorpane{
    -fx-background-color: #353A56;
    -fx-border-color: #000033;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 15px;
    -fx-background-radius: 15px;
    -fx-border-style: Solid;
    
}

.inner_pane{
    -fx-background-color: #748CE1;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-border-style: Solid;
    -fx-border-color: #748CE1;
}

.most_innerPane{
    -fx-background-color: #6780E2;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-border-style: Solid;
    -fx-border-color: #748CE1;
    
}

.Home{
    -fx-background-color: #353A56;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 30px;
    -fx-background-radius: 30px;
    -fx-border-style: Solid;
    -fx-border-color: #353A56;
    
}

.ACCOUNT{
    -fx-background-color: #353A56;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 30px;
    -fx-background-radius: 30px;
    -fx-border-style: Solid;
    -fx-border-color: #000000;
    
}

.SEARCH_TEXT{
    -fx-background-color: #ffffff;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 30px;
    -fx-background-radius: 30px;
    -fx-border-style: Solid;
    -fx-border-color: #353A56;
    
}

.UPPER_PANEL{
    -fx-background-color: #cccccc;
    -fx-border-width: 3px 0px 3px 0px;
    -fx-border-radius: 1px;
    -fx-background-radius: 1px;
    -fx-border-style: Solid;
    -fx-border-color: #666666;
    
}

.PANE_TABLE{
    -fx-border-color: #cccccc;
    -fx-border-width: 5px 5px 5px 5px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-background-color: #9999ff;
    
}

.pane_11{
    -fx-border-color: #6600ff;
    -fx-border-width: 8px 8px 8px 8px;
    -fx-border-radius: 13px;
    -fx-background-radius: 13px;
    -fx-background-color:  #ffffff;
    
}

.pane_12{
    -fx-border-color: #330099;
    -fx-border-width: 5px 5px 5px 5px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-background-color: #ffffff;
}

.pane_111{
    -fx-border-color: #000066;
    -fx-border-width: 5px 5px 5px 5px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-background-color: #ffffff;
}

.pane_long{
    -fx-border-color: #353A56;
    -fx-border-width: 5px 5px 5px 5px;
    -fx-border-radius: 13px;
    -fx-background-radius: 13px;
    -fx-background-color: #9999ff;
}

.SEARCH_BAR{
    -fx-border-color: #000066;
    -fx-border-width: 8px 8px 8px 8px;
    -fx-border-radius: 13px;
    -fx-background-radius: 13px;
    -fx-background-color: #ffffff;
}

.DASHBOARD{
    -fx-border-color: #000066;
    -fx-border-width: 3px 3px 3px 3px;
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
    -fx-background-color: #ffffff;
        
}
